@using FA.JustBlog.ViewModels.Posts
@model IEnumerable<PostViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>All Posts</h1>
<hr />
@{
    foreach (var item in Model)
    {
        <div class="post-preview">
            <a href="@Url.Action("GetDetailPost", new { id = item.Id })">
                <h2 class="post-title">
                    @item.Title
                </h2>
                <h3 class="post-subtitle">
                    @item.ShortDescription
                </h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#">Start Bootstrap</a>
                on @item.PostedOn
            </p>
        </div>
        <hr>
    }
}
<!-- Pager -->
<div class="clearfix">
    <a class="btn btn-primary float-right" href='@Url.Action("GetLastesPost","Post")'>Older Posts&rarr;</a>
</div>