@using FA.JustBlog.ViewModels.Posts
@model  IEnumerable<PostViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Posts</h2>

<p>
    <button type="button" class="btn btn-success">@Html.ActionLink("Thêm", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedOn)
        </th>
        <th>
            <p>Action</p>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                <button type="button" class="btn btn-warning">@Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id })</button>
                <button type="button" class="btn btn-info">@Html.ActionLink("Chi tiết", "Details", new { id = item.Id })</button>
                <button type="button" class="btn btn-danger">@Html.ActionLink("Xóa", "Delete", new { id = item.Id })</button>
            </td>
        </tr>
    }

</table>
